
.header {
    padding: 60px;
    text-align: center;
    background: #ffffc5;
    color: black;
    font-size: 30px;
}


.column {
    display: grid; 
    grid-template-columns: repeat(3, auto); 
    gap: 15px; 
    justify-content: center; 
    padding: 15px;
}

.column img {
    width: 600px; 
    height: auto; 
    border-radius: 20px;
    transition: transform 0.5s ease;
}

.column img:hover {
    transform: scale(1.04); 
}